#brawn {
  grid-area: header-end / 1 / 3 / one-third;
}

#agility {
  grid-area: 3 / 1 / 4 / one-third;
}

#intellect {
  grid-area: header-end / one-third / 3 / two-thirds;
}

#cunning {
  grid-area: 3 / one-third / 4 / two-thirds;
}

#willpower {
  grid-area: header-end / two-thirds / 3 / -1;
}

#presence {
  grid-area: 3 / two-thirds / 4 / -1;
}

#knowledge {
  grid-area: 4 / two-thirds / 5 / -1;
}

.characteristicSkill tr:nth-child(even)>td {
  background-color: lightgrey;
}

.characteristicSkill tr:nth-child(even) .skillRanks img {
  transform: rotate(180deg);
}

.characteristicSkill tr:nth-child(odd) .skillRanks img {
  padding-left: 0.75em;
}

.characteristicSkill {
  border-spacing: 0 0;
  min-width: 15em;
}

caption.characteristic {
  /*caption-side: left;
	transform: rotate(-90deg);*/
  white-space: nowrap;
  height: 2em;
}

.characteristicName {
  font-size: x-large;
  vertical-align: middle;
}

.characteristicRanks img {
  height: 2em;
  vertical-align: middle;
}

.classSkill img {
  height: 0.75em;
}

.skillName {
  min-width: 8em;
}

.skillRanks img {
  height: 2em;
  vertical-align: middle;
  margin-top: -0.2em;
  margin-bottom: -0.15em;
}

.combat,
.knwl {
  font-style: italic;
}

