.characteristicSkillSection {
	display: inline-flex;
	height: 100%;
	flex-flow: column wrap;
	justify-content: space-around;
}

#brawn {
	order: 1;
}

#intellect {
	order: 2;
}

#willpower {
	order: 3;
}

#agility {
	order: 4;
}

#cunning {
	order: 5;
}

#presence {
	order: 6;
}

.characteristicSkill {
	border-spacing: 0 0;
	min-width: 14em;
}

.characteristicName {
    font-size: x-large;
    vertical-align: middle;
}

.characteristicRanks img {
	height: 2em;
	vertical-align: middle;
}

.combat, .knowledge {
	font-style: italic;
}

.classSkill img {
	height: 0.75em;
}

.skillName {
  min-width: 9em;
}

.skillRanks img {
	height: 2em;
	vertical-align: middle;
	margin-top: -0.2em;
	margin-bottom: -0.15em;
}

.characteristicSkill tr:nth-child(even) > td {
	background-color: lightgrey;
}

.characteristicSkill tr:nth-child(even) .skillRanks img {
	transform: rotate(180deg);
}

.characteristicSkill tr:nth-child(odd) .skillRanks img {
	padding-left: 0.75em;
}
