#brawn {
	grid-row-start: header-end;
	grid-column-start: 1;
}

#agility {
	grid-row-start: header-end;
	grid-column-start: 2;
}

#cunning {
	grid-row-start: 3;
	grid-column-start:1;
}

#intellect {
	grid-row-start: 3;
}

#knowledge {
	grid-row-start: 3;
}

#presence {
	grid-row-start: 4;
}

#willpower {
	grid-row-start: 4;
}

caption.characteristic {
	/*caption-side: left;
	transform: rotate(-90deg);*/
	white-space: nowrap;
	height: 2em;
}

.characteristicSkill {
	border-spacing: 0 0;
	min-width: 10em;
}

.characteristicName {
    font-size: x-large;
    vertical-align: middle;
}

.characteristicRanks img {
	height: 2em;
	vertical-align: middle;
}

.combat, .knwl {
	font-style: italic;
}

.classSkill img {
	height: 0.75em;
}

.skillName {
  min-width: 8em;
}

.skillRanks img {
	height: 2em;
	vertical-align: middle;
	margin-top: -0.2em;
	margin-bottom: -0.15em;
}

.characteristicSkill tr:nth-child(even) > td {
	background-color: lightgrey;
}

.characteristicSkill tr:nth-child(even) .skillRanks img {
	transform: rotate(180deg);
}

.characteristicSkill tr:nth-child(odd) .skillRanks img {
	padding-left: 0.75em;
}