#statusMonitor {
  grid-area: 4/two-thirds/-1/-1;
  place-self: end;
  
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content min-content;
  place-content: end;
  grid-gap: 10px;
}

#statusCondition {
  margin: 0;
  max-height: 6em;
  align-self: end;
}

#statusCondition figcaption {
  text-align: center;
}

#statusOptions li {
  list-style-type: circle;
}

#healthDefense {
  grid-area: -3/-2/-2/-1;
  border-collapse: collapse;
  margin: 0em 0.1em 0em 0em;
}

#criticalWounds {
  grid-area: -2/-3/-1/-1;
}

#criticalWounds tr:nth-child(1) th:nth-child(1) {
  min-width: 9rem;
}

#criticalWounds .healDifficulty {
  text-align: center;
}
