#healthDefense {
	border-collapse: collapse;
	margin: 0em 0.1em 0em 0em;
    grid-area: -3 / -2 / -1 / -1;
	place-self: end;
}

#criticalWounds {
    grid-area: -2 / -4 / -1 / -2;
    place-self: end;
}

#criticalWounds tr:nth-child(1) th:nth-child(1) {
	min-width: 9rem;
}