@import "characteristicSkillSection.css";

.hidden {
	display: none;
}

header span {
	display: inline-block;
	width: 30%;
}

#healthDefenseSection {
	position: fixed;
	bottom: 0%;
	right: 0%;
	background-color: lightgrey;
}

#healthDefense {
	border-collapse: collapse;
}

#soak th {
	text-align: right;
}

#criticalWounds, #conditionMonitor {
	border-top: 0.1em solid black;
	padding-bottom: 5em;
}

.underlined {
	background-color: white;
	border-bottom: 0.1em dotted black;
}

.smallValueField {
	display: inline-block;
	background-color: white;
	height: 100%;
	min-width: 3rem;
	min-height: 2rem;
}

.mediumValueField {
	display: inline-block;
	background-color: white;
	width: 100%;
	height: 100%;
	min-height: 3rem;
	text-align: center;
	font-size: small;
}

.bigValueField {
	display: inline-block;
	background-color: white;
	width: 100%;
	height: 100%;
	min-height: 5rem;
	text-align: center;
	font-size: small;
}
