#career {
	grid-area: 1/1/header-end/half;
}

#talentTrees {
	grid-area: header-end/1/footer-start/half;
}

#XPLogbook {
	grid-area: 1/half/footer-start/-1;
	width: 100%;
}

#XPLogbook .date, #XPLogbook .xp {
	width: 15%;
}

#gainedSum {
	grid-area: footer-start/-4/-1/-3;
}

#gainedOnStart {
	grid-area: footer-start/-3/-1/-2;
}

#gainedOnAdventures {
	grid-area: footer-start/-2/-1/-1;
}