#brawn {
  grid-area: 1 / 1 / 3 / one-quarter;
}

#agility {
  grid-area: 1 / one-quarter / 4 / half;
}

#intellect {
  grid-area: 4 / 1 / 6 / one-quarter;
}

#cunning {
  grid-area: 4 / one-quarter / 6 / half;
}

#willpower {
  grid-area: 6 / 1 / 7 / one-quarter;
}

#presence {
  grid-area: 6 / one-quarter / 8 / half;
}

#knowledge {
  grid-area: 7 / 1 / 11 / one-quarter;
}

.characteristicSkill tr:nth-child(even)>td {
  background-color: lightgrey;
}

.characteristicSkill tr:nth-child(even)>td:last-child {
  background: linear-gradient(to left, white 75%, lightgrey 75%);
}

.characteristicSkill tr:nth-child(even) .skillRanks img {
  transform: rotate(180deg);
}

.characteristicSkill tr:nth-child(odd) .skillRanks img {
  padding-left: 0.75em;
}

.characteristicSkill {
  border-spacing: 0 0;
  min-width: 12em;
}

.characteristicSkill caption {
  text-align: left;
}

caption.characteristic {
  caption-side: top;
	/*transform: rotate(-90deg);*/
  white-space: nowrap;
  height: 2em;
}

.characteristicName {
  font-size: x-large;
  vertical-align: middle;
}

.characteristicRanks img {
  height: 2em;
  vertical-align: middle;
}

.classSkill img {
  height: 0.75em;
}

.skillName {
  min-width: 6em;
}

.skillRanks img {
  height: 2em;
  vertical-align: middle;
  margin-top: -0.2em;
  margin-bottom: -0.15em;
}

.combat {
  font-weight: bold;
}

.knwl {
  font-style: italic;
}
