.weapons {
  grid-area: header-end/1/3/-1;
}

.armors {
  grid-area: 3/1/4/-1;
}

.modded {
  text-align: right;
  width: 100%;
}

.modded td {
  border: 1px solid #ccc;
}

.modded tbody::after
{
  content: '';
  display: block;
  height: 15px;
}

.narrow_column {
  width: 2em;
}

.midColumn {
  width: 5em;
}

.wideColumn {
  width: 10em;
}

th.rotate {
  padding: 0px;
}

th.rotate > div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
}

th.rotate > div > span {
  border-right: 1px solid #ccc;
  writing-mode: sideways-lr;
  height: fit-content;
  width: fit-content;
}

.modded tbody tr:nth-last-child(2) {
  border-bottom: solid black;
}
