.weapons {
  grid-area: header-end/1/2/-1;
}

.weapons2 {
  grid-area: 3/1/4/-1;
}

.armors {
  grid-area: 4/1/5/-1;
}

.armors2 {
  grid-area: 5/1/6/-1;
}

.modded {
  text-align: right;
  width: 100%;
}

.modded td {
  border: 1px solid #ccc;
}

.modded tfoot {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  /*font-size: x-small;*/
}
/*
.modded tfoot::after {
  content: '';
  display: block;
  height: 15px;
}*/

.narrowColumn {
  width: 2em;
}

.midColumn {
  width: 5em;
}

.wideColumn {
  width: 10em;
}

th.rotate {
  padding: 0em;
}

th.rotate > div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
}

th.rotate > div > span {
  border-right: 1px solid #ccc;
  writing-mode: sideways-lr;
  height: fit-content;
  width: fit-content;
}
