#motivation {
  grid-area: 4/half/6/end;
}

#dutyObligation {
  grid-area: 6/half/-2/end;
  width: 100%;
}

#obligationSum {
  grid-area: 10/half/11/9;
}

#dutySum {
  grid-area: 10/9/11/11;
}

#contributionRank {
  grid-area: 10/11/11/13;
}
