#motivation {
  grid-area: 4/half/6/end;
}

/* #features {
  grid-area: 3/1/-4/-1;
  justify-self: center;
} */

#duty {
  grid-area: 9/half/-2/end;
  width: 100%;
}

#obligation {
  grid-area: 6/half/9/end;
  width: 100%;
}

#obligationSum {
  grid-area: 8/one-quarter/9/5;
}

#dutySum {
  grid-area: 8/5/9/6;
}

#contributionRank {
  grid-area: 8/6/9/7;
}