#motivation {
  grid-row: 4 / 6;
}

#dutyObligation {
  grid-row: 6 / 9;
  width: 100%;
}

#obligationSum {
  grid-area: 9/half/10/9;
}

#dutySum {
  grid-area: 9/9/10/11;
}

#contributionRank {
  grid-area: 9/11/10/-1;
}
