@import "characteristicSkillSection.css";
@import "healthDefense.css";

header span {
  display: block;
}

header span:after {
  /*content: ":";*/
}

#details span {
  display: block;
}

    #front object div {
      border: thin solid lightgrey;
      width: 100%;
    }

    #front object span {
      display: block;
    }

    #front object p {
      margin: 0em;
    }

.condition {
    display: inline-grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 7fr;
    column-gap: 0.5em;
}

/*******************************************************************landscape*/
@media (orientation: landscape){  
  .printedPage#front {
    background: white;
  }

  header {
    grid-row: 1 / header-end;
    grid-column: 9 / 13;
    width: stretch;
  }
  
  /* skills/characteristics */
  #brawn {
    grid-row: 1 / 9;
    grid-column: 1 / 3;
  }

  #agility {
    grid-row: 1 / 9;
    grid-column: 3 / 5;
  }

  #intellect {
    grid-row: 1 / 9;
    grid-column: 5 / 7;
  }

  #knowledge {
    grid-row: 1 / 9;
    grid-column: 7 / 9;
  }

  #cunning {
    grid-row: 9 / 17;
    grid-column: 1 / 3;
  }

  #willpower {
    grid-row: 9 / 17;
    grid-column: 3 / 5;
  }

  #presence {
    grid-row: 9 / 17;
    grid-column: 5 / 7;
  }

  #socialSkillInteractions {
    grid-row: 9 / 17;
    grid-column: 7 / 9;
  }
  
  /* fluff */
  #front object {
    grid-row: 17 / 25;
    grid-column: 1 / 3;
    width: stretch;
    height: stretch;
  }
  
  #front object div {
    height: stretch;
  }

  #motivation {
    grid-row: 17 / 25;
    grid-column: 3 / 5;
  }

  #dutyObligation {
    grid-row: 17 / 24;
    grid-column: 5 / 9;
    height: stretch;
    width: stretch;
    display: grid;
    <!--row-gap: 0.5em;-->
  }

  #obligationSum {
    grid-area: 24/8/25/9;
  }

  #dutySum {
    grid-area: 24/7/25/8;
  }

  #contributionRank {
    grid-area: 24/5/25/6;
  }
  
  /* health/defense */
  #defense {
    grid-column: 11 / -1;
    grid-row: 6 / 12;
  }

  #soak {
    grid-column: 11 / -1;
    grid-row: 12 / 17;
  }

  #strain {
    grid-column: 11 / -1;
    grid-row: 17 / 20;
  }

  #wounds {
    grid-column: 11 / -1;
    grid-row: 20 / 22;
  }

  #stims {
    grid-column: 9 / 12;
    grid-row: 20 / 22;
    width: fit-content;
    align-self: end;
  }

  #disoriented {
    grid-area: 6/9/12/12;
    align-self: end;
  }

  #immobilized {
    grid-area: 17/9/20/12;
    align-self: end;
  }

  #staggered {
    grid-area: 12/9/17/12;
    align-self: end;
  }
  
  #criticalWounds {
    grid-area: 22 /two-thirds/-1/-1;
  }
  
  #criticalWounds thead {
    display: none;
  }
}
/********************************************************************portrait*/
@media (orientation: portrait){
  header {
    grid-area: 1/three-quarter/header-end/-1;
    width: 100%;
  }

  #front object {
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
  }

  /* skills/characteristics */
  #brawn {
    grid-row: 1 / 3;
  }

  #agility {
    grid-row: 1 / 4;
  }

  #intellect {
    grid-row: 4 / 5;
  }

  #cunning {
    grid-row: 4 / 6;
  }

  #willpower {
    grid-row: 6 / 7;
  }

  #presence {
    grid-row: 6 / 8;
  }

  #knowledge {
    grid-row: 8 / 10;
  }
  
  #socialSkillInteractions {
    grid-row: 8 / 9;
  }

  /* fluff */
  #motivation {
    grid-row: 4 / 6;
  }

  #dutyObligation {
    grid-row: 6 / 9;
    width: 100%;
  }

  #obligationSum {
    grid-area: 9/half/10/9;
  }

  #dutySum {
    grid-area: 9/9/10/11;
  }

  #contributionRank {
    grid-area: 9/11/10/-1;
  }
  
  /* health/defense */
  #disoriented {
    grid-area: -3/1/footer-start/3;
  }

  #immobilized {
    grid-area: -3/3/footer-start/5;
  }

  #staggered {
    grid-area: -3/5/footer-start/7;
  }

  #defense {
    grid-column: 1 / 3;
  }

  #soak {
    grid-column: 3 / one-third;
  }

  #wounds {
    grid-column: one-third / half;
  }

  #strain {
    grid-column: half / two-thirds;
  }

  #criticalWounds {
    grid-area: -3/two-thirds/-1/-1;
  }
  
  #stims {
    grid-area: -3/half/footer-start/two-thirds;
  }
}
