.health {
  width: 100%;
}

  .health caption {
    font-weight: bold;
  }

  .health th {
    font-weight: normal;
    font-size: small;
  }
  
  .health:not(#criticalWounds) th {
    width: 50%;
  }

#defense {
  grid-column: 1 / 3;
}

#soak {
  grid-column: 3 / one-third;
}

#wounds {
  grid-column: one-third / half;
}

#strain {
  grid-column: half / two-thirds;
}

#criticalWounds {
  grid-area: -3/two-thirds/-1/-1;
}

.healDifficulty {
  white-space: nowrap;
}

      #criticalWounds tr:nth-child(1) th:nth-child(2) {
        width: 100%;
      }

#stims {
  grid-area: -3/half/footer-start/two-thirds;
  width: fit-content;
}

#statusCondition {
  grid-area: -3/1/footer-start/half;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
}

  #statusCondition figcaption {
    display: none;
  }

  #statusCondition ul {
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }  

  #statusOptions li {
    list-style-type: circle;
    width: 31%;
  }

  #statusOptions .reminder {
    display: block;
  }
