.health {
  width: 100%;
}

.health caption {
  font-weight: bold;
}

.health th {
  font-weight: normal;
  font-size: small;
}
  
.health:not(#criticalWounds) th {
  width: 50%;
}

.healDifficulty {
  white-space: nowrap;
}

#criticalWounds tr:nth-child(2) td:nth-child(2) {
  width: 100%;
}

#stims {
  width: fit-content;
}

  #statusCondition {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  #statusCondition figcaption {
    display: none;
  }

  #statusCondition ul {
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  #statusOptions li {
    display: contents;
    list-style-type: none;
    width: 31%;
  }

  #statusOptions .reminder {
    display: block;
  }
