
.health {
  width: 100%;
}

  .health caption {
    font-weight: bold;
  }

  .health th {
    font-weight: normal;
    font-size: small;
  }
  
  .health:not(#criticalWounds) th {
    width: 50%;
  }
  
#stims {
  grid-area: 10 / 5 / 11 / half;
  width: fit-content;
}

#defense {
  grid-area: 11/1/footer-start/3;
}

#soak {
  grid-area: 11/3/footer-start/one-third;
}

#wounds {
  grid-area: 11/one-third/footer-start/7;
}

#strain {
  grid-area: 11/7/footer-start/two-thirds;
}

#criticalWounds {
  grid-area: 11/two-thirds/-1/-1;
}

.healDifficulty {
  white-space: nowrap;
}

      #criticalWounds tr:nth-child(1) th:nth-child(2) {
        width: 100%;
      }
  
#statusCondition {
  grid-area: footer-start/1/-1/two-thirds;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
}
  
  #statusCondition ul {
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }  

    #statusOptions li {
      list-style-type: circle;
      width: 31%;
    }

    #statusOptions .reminder {
      display: block;
      font-size: small;
    }
